@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer duration-300;
  }

  button {
    @apply duration-300;
  }

  input {
    @apply outline-none border-none;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .section-title {
    @apply text-indigo-700 text-2xl;
  }
}

@layer components {
  .feature {
    @apply py-8;
  }
  .feature-content {
    @apply text-center max-w-md;
  }
  .feature-icon {
    @apply flex items-center justify-center;
  }
  .custom-button {
    @apply bg-sky-600 hover:bg-sky-500 py-2 px-6 inline-block cursor-pointer my-4 rounded-xl text-sky-900;
  }
  .info {
    @apply flex flex-col mt-4;
  }

  .info strong {
    @apply text-sky-600 font-semibold;
  }
  .info input {
    @apply bg-transparent inline-block mx-auto;
  }

  .question {
    @apply font-bold text-sky-500 mt-8;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --background-color: #000;
  --text-color: #9ca3af;
  --link-color: #afafaf;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Fredoka", sans-serif;
  background: #fff;
}

#brand {
  font-family: "Roboto", sans-serif;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 