@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .custom-button {
    @apply bg-sky-600 hover:bg-sky-500 py-2 px-6 inline-block cursor-pointer my-4 rounded-xl text-sky-900;
  }
  .feature {
    @apply max-w-xs;
  }
  .feature h3 {
    @apply flex items-center;
  }
  .feature h3 span {
    @apply font-bold pl-2;
  }

  .info {
    @apply flex flex-col mt-4;
  }

  .info strong {
    @apply text-sky-600 font-semibold;
  }
  .info input {
    @apply bg-transparent inline-block mx-auto;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --background-color: #000;
  --text-color: #9ca3af;
  --link-color: #afafaf;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body {
  margin-left: auto;
  margin-right: auto;
}
